/* Back Button Styles */
.back-button-container {
  position: fixed; /* Keeps it in place */
  top: 20px; /* Moves it to the top */
  left: 20px; /* Keeps it slightly from the left */
  z-index: 1000; /* Ensures it's above other elements */
  display: block; /* Visible by default */
}

.back-arrow {
  font-size: 28px;
  cursor: pointer;
  color: rgb(251, 251, 251); /* Default arrow color */
  transition: color 0.3s ease; /* Smooth color change */
}

.back-arrow:hover {
  color: rgb(117, 111, 111); /* Change color when hovering */
}

/* Media Queries for Mobile and Tablet */
@media (max-width: 1024px) {
  .back-button-container {
    display: none; /* Hide back button on tablets and smaller screens */
  }
}