.transparent-footer {
  position: fixed;
  bottom: 0;
  width: 95%;
  background: transparent;
  color: rgb(222, 217, 217);
  text-align: right;
  padding: 10px 5px;
  font-size: 9px;
  font-weight: bold;
}
